* {
    box-sizing: border-box;
}

html {
    font-family: monospace;
    text-align: center;
}

body {
    margin: 0;
    background-color: var(--primary-0);
}

canvas {
    border: solid 1px black;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}