/* .user-editor {
    display: grid;
    grid-template-columns: minmax(500px, 1fr)
    minmax(500px,1fr);
    
} */

.editor {
    margin-block: 20px;
    grid-template-areas:
        'c e';
        gap: 20px;
}

.user-editor {
    grid-area: e;
}

canvas {
    grid-area: c;
}

.user-editor {
    display: grid;
}

input.txt-edit {
    width: 80%;
    height: 65px;
    font-size: 1.3em;
    border-radius: 15px;
    border: none;
    padding-inline-start: 50px;
}

.advanced-editor {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    /* grid-auto-flow: column;
    grid-template-columns: repeat(5, minmax(auto-fit, 1fr));
    grid-template-rows: auto; */
}

.font-family {
    border: none;
    font-size: 1em;
    border-radius: 15px;
    height: 60px;
}

/* .text-editor {
    display: grid;
    grid-auto-flow: column;
} */

.user-editor img {
    width: 35px;
    height: 35px;
}

.editor button {
    width: 60px;
    height: 60px;
}

.actions button {
    background-color: var(--primary-base);
    width: 7.5em;
    height: 3.75em;
    border-radius: 10px;
    padding-inline: 5px;
    border: none;
}

.actions button a {
    font-size: 1.5em;
    color: var(--primary-1);
}

.canvas-container {
    max-width: 50vw;
    /* height: 80vh; */
  }