.editor {
    margin-block: 20px;
}

.editor-tools {
    grid-area: e;
    justify-items: center;
    align-items: center;
}

canvas {
    grid-area: c;
}

input.txt-edit {
    width: 70%;
    height: 65px;
    font-size: 1.3em;
    border-radius: 15px;
    border: none;
    padding-inline-start: 50px;
    margin-block-end: 20px;
    margin-inline: auto 0;
}

.text-editor {
    margin-block-end: 20px;
}

.advanced-editor {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center
}

.btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.font-family {
    border: none;
    font-size: 1em;
    border-radius: 15px;
    height: 60px;
}

.inner-container {
    margin-block: 20px;
}

.editor-tools img {
    width: 35px;
    height: 35px;
}

.editor-tools button {
    width: 60px;
    height: 60px;
}

.btn {
    background-color: var(--primary-base);
    height: 50px;
    border-radius: 10px;
    padding-inline: 5px;
    border: none;
    color: var(--primary-1);
}

.facebook-btn {
    font-size: 1.25em;
    color: var(--primary-1);
}

.btn a {
    font-size: 1.5em;
    color: var(--primary-1);
}

.canvas-container {
    max-width: 50%;
    justify-self: center;
}

canvas:hover {
    cursor: grab;
}