.gallery-header {
    background-color: var(--primary-1);
    margin-block-end: 20px;
    justify-content: center;
    gap: 15px;
}

.filter-container {
    padding-block: 15px 7px;
}

input.filter {
    border: none;
    border-block-end: solid 1px black;
}

.keywords-list {
    gap: 10px;
}

.keywords-list li {
    cursor: pointer;
}

.clear-btn, .random-btn {
    border: none;
    border-radius: 8px;
    padding-block: 5px;
}

.random-btn {
    margin-block: 5px;
    max-width: max-content;
    align-self: center;
}