.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-base);
    height: 70px;
}

.logo img {
    width: 8.125rem;
}

.logo {
    margin-inline-start: 20px;
    justify-self: center;
    align-self: center;
}

.main-nav-list {
    gap: 15px;
}

.main-nav-list a {
    color: var(--primary-1);
    font-size: 1.5em;
    padding-inline-end: 5px;
}