 /* FA */
/* @font-face {
    font-family: fa;
    src: url(/fonts/fa/fa-brands-400.ttf);
} 

.txt-up::before {
    content: '\f062';
    color: black;
} 

.txt-down::before {
    content: '\f063';
    color: black;
} */